html {
	font-size: 16px;
}



body {
	background-color: #fff;
	color: #828689;
	font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3,h4{
	font-family: 'Montserrat', sans-serif;
}
.header{
	/*w100p+h100vh+minh450px+bgi*/
	width: 100%;
	height: 100vh;
	min-height: 450px;
	background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/bg.jpg);
	/*bga-f+bgz-c*/
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.main-heading{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	margin-top: 35px;
	margin-bottom: 30px;
	
}
.main-desc{
	font-size: 20px;
	margin-bottom: 30px;
}
.btn-style{
	/*w155+h50+bdrs3+d-if+ai-c+jc-c+lh1*/
	width: 155px;
	height: 50px;
	border-radius: 3px;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	line-height: 1;
	margin: 0 15px;
}
.btn-color_a{
	background-color: #7ea4e8;
}
.btn-color_b{
	background-color: #6a7079;
}
.btn-style .fa.fa-arrow-circle-right{
	margin-left: 5px;
}
.section-heading{
	font-size: 30px;
	font-weight: 400;
}
.desc {
	font-size: 22px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.section-subdesc{
	font-size: 17px;
	color: rgb( 130, 130, 130 );
}
.speaker-head {
	margin-top: 25px;
	margin-bottom: 20px;
	
}
.speaker-desc p{
	margin-top: 75px;
	margin-bottom: 30px;
}

.event,
.schedule,
.register {
	padding-top: 100px;
	padding-bottom: 100px;
}
.event {
	border-bottom: 8px solid #f0f0f1;
}
.card-tabs{
	border: 3px solid #ececec;
	border-radius: 3px;
}
.card-tabs-body{
	padding: 30px 15px;
}
.card-tabs .nav-tabs{
	border: none;
}
.card-tabs .nav-tabs .nav-link {
	border: none;
	border-radius: 0;
	background-color: #ececec;
}
.card-tabs .nav-tabs .nav-link.active {
	background-color: transparent;
}
.card-tabs .nav-item {
	width: 50%;
	text-align: center;
}
.event-head {
	margin-top: 125px;
	font-size: 30px;
	color: rgb( 106, 112, 121 );
}

.event-subhead{
	padding-top: 20px;
	padding-bottom: 70px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;

}
.speaker-link{
	
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 140px;
	width: 140px;
}
.speaker-link .fa{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color:rgba(107,216,211,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 40px;
	opacity:0;
	transition:opacity .3s;
}
.speaker-link:hover .fa{
	opacity: 1;
}

.speaker-head{
	color: #777a7d;
	font-weight: 500;
	transition: color .3s;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}
.speaker-link:hover ~ .speaker-head{
	color: #2cc7c1;
}
.speaker-image{
	height: 100%;
	width: 100%;
	object-fit:cover;
}
.speaker-desc{
	font-size: 16px;
	line-height: 25px;
}
.nav-item.schedule-tabs {
	width:calc(100% / 3);
}

.fa-plus-circle{
	color: #2cc7c1;
}
.register{
	background-color: #f3f3f3;
}

.register .event-head {
	margin-top: 50px;
}
div[id|=accordion]{
	width: 100%;
}
.tab-content > .active {
	display: flex;
	flex-direction: column;
}
.tab-pane,
.tab-content,
.card-tabs-body {
	flex-grow: 1;
}
.accordion-item{
	margin-bottom: 20px;
}
.accordion-item:last-child{
	margin-bottom: 0;
}
.accordion-link:hover,
.accordion-link{
	font-size: 18px;
	font-weight:500;
	text-decoration: none;
	color: #747a84;
	display: flex;
	align-items: center;

}
.accordion-date{
	display:flex;
	min-width: 90px;
	height: 25px;
	justify-content: center;
	background-color: #2cc7c1;
	font-size: 17px;
	color: #fff;
	border-radius: 2px;
	font-weight: 500;
	margin-right: 25px;
	
}
.accordion-link .fa{
	margin-left: auto;
	font-size: 20px;
	color: #2cc7c1;
}
.accordion-link.collapsed .fa-plus-circle{
	display: inline-block;
}
.accordion-link .fa-plus-circle{
	display: none;
}
.accordion-link.collapsed .fa-minus-circle{
	display: none;
}
.accordion-content{
	font-size: 17px;
	padding-top: 20px;
}

#gallery-carousel {
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	
}
.carousel-item img{
	width: 100%;
	height: 310px;
	object-fit:cover;
}
.carousel-indicators{
	justify-content: flex-start;
	margin: 0;
	left:20px;
	bottom: 20px;
}
.carousel-indicators .indicators-item{
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: 3px solid #67d2ce;
	border-radius: 50%;
	/*bgc-t*/
	background-color: transparent;
	cursor: pointer;
}
.carousel-indicators .indicators-item.active{
	background-color:#67d2ce ;
}
.sponsors{
	background-color: #fff;
}

.schedule-video {
	height: 310px;
	overflow: hidden;
	border-radius: 5px;
}

.event-head{
	padding-bottom: 30px;
}
.event-subhead{
	padding-bottom: 115px;
}

.footer {
	background-color: #525b64;
}
.footer .row {
	padding: 90px 0;
}
.copyright {
	padding: 10px 0;
	/*bgc#3f464c*/
	background-color: #3f464c;
	color: #85888b;
}
.sign-heading {
	font-size: 25px;
	color: #fff;	
}
.sign-heading span {
	/*fwb*/
	font-weight: bold;
}
.footer-heading {
	font-size: 20px;
	color: #fff;
}
.footer-text {
	color: #2cc7c1;
	font-size: 16px;
}
.contacts-item .fa{
	margin-right: 10px;
	font-size: 20px;
}
.contacts {
	font-size: 18px;
}
.footer-heading{
	font-size: 20px;
}





.form {
	background-color: #fff;
	padding: 50px 35px;
}
.form-item-check {
	width: 20%;
	flex-grow: 1;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
}
.form-item-check .fa {
	/*pos-a*/
	position: absolute;
	/*t35p*/
	top: 35%;
	/*r0*/
	right: 10px;
	/*c#2cc7c1*/
	color: #2cc7c1;
	font-size: 18px;
	opacity: 0;
	transition: opacity .3s;
}
.form-item:valid ~ .fa {
	opacity: 1;
}
.form-item {
	height: 100%;
	width: 100%;
	/*bd-n*/
	border: 2px solid transparent;
	/*brs3*/
	border-radius: 3px;
	background-color: #efefef;
	color: #a7a7a7;
	font-size: 18px;
	padding-left: 15px;
	font-family: ubuntu;
	font-weight: normal;
	transition: all .3s;
}
.form-item:focus {
	/*bgc#f*/
	background-color: #fff;
	border: 2px solid #95e3e0;
}
.sponsors {
	/*p60-0*/
	padding: 60px 0;
}
.owl-carousel img {
	height: 35px;
	object-fit: contain;
}
.map iframe {
	width: 100%;
	height: 100vh;
	/*mih450px*/
	min-height: 450px;
}
