body {
    font-family: 'Roboto', sans-serif;
}

.todo-text {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.todo.completed .todo-text {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo.completed .fa-check-square {
    opacity: 0.5;
}

.todo .btn {
    opacity: 0;
    font-size: 1.2em;
    padding: 0;
    line-height: 1;
}               

.todo .btn.show,
.todo .btn:focus:not(:disabled) {
    opacity: 1;
}

.todo:hover .btn {
    opacity: 1;
}

.todo-edit {
    position: absolute;
    top: 15%;
    left: 3.1%;
    right: 12%;
    bottom: 15%;
    z-index: 1010;

    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-buttons {
    flex-grow: 1;
    text-align: right;
}