@media (max-width: 1350px) {
  .col-items {
    flex-basis: 350px;
  }
}

@media (max-width: 750px) {
  .container-menu {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%;
    transition: all 0.5s;
  }
  .container-menu:hover {
    overflow: auto;
  }
  .btn-menu {
    display: block;
  }
}

@media (max-width: 550px) {
  .container-menu {
    width: 100%;
  }
  .col-items .item {
    flex-basis: 100vh;
  }
}
